appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
cycler==0.10.0
decorator==4.0.6
Django==1.5.1
django-angular==0.7.2
django-filter==0.7
django-tastypie==0.11.1
djangorestframework==2.3.13
ecdsa==0.13
enum34==1.1.6
Fabric==1.6.1
ipython==5.1.0
ipython-genutils==0.1.0
Jinja2==2.7
Markdown==2.4.1
MarkupSafe==0.18
matlabengineforpython===R2014b
matplotlib==1.5.1
networkx==1.11
numpy==1.10.4
paramiko==1.16.0
pathlib2==2.1.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.8
ptyprocess==0.5.1
pycrypto==2.6.1
Pygments==2.0.2
pyparsing==2.1.0
python-dateutil==2.2
python-mimeparse==0.1.4
pytz==2015.7
PyYAML==3.10
scikit-learn==0.17.1
scipy==0.14.0
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
smop==0.0.0
South==0.8.1
stevedore==0.15
traitlets==4.3.1
vboxapi==1.0
virtualenv==13.1.2
virtualenv-clone==0.2.5
virtualenvwrapper==4.2
wcwidth==0.1.7
